.form-style{
    max-width: 700px;
    margin: 2em auto;
}

mat-form-field{
    width: 100%;
}

table{
    width: 100%;
}
 
th{
    font-weight: bold;
    font-size: 20px;
}

ng-container{
    text-align: center;
    margin: 50px;
}


section{
    padding: 10px 0;
}